{{define "apiSetting/settings"}}
<div class="container mx-auto py-4">
    <div x-data="{ search: ''}" class="rounded-lg bg-white p-4 shadow-md">
        <div class="mb-4 flex items-center">
            <div class="w-2/3">
                <input x-model="search" type="text" placeholder="Search"
                    class="w-full rounded-lg border px-4 py-2 focus:outline-none" />
            </div>
            <div class="w-1/3 text-right">
                <button 
                    @click="$dispatch('editbutton-clicked-event'), console.log('Edit button clicked')"
                    class="rounded-lg bg-blue-800 px-4 py-2 text-white hover:bg-blue-600">
                    Edit
                </button>
            </div>
        </div>
        <div id="tableDiv">
            <form>
                <table class="w-full table-auto">
                    <thead>
                        <tr class="border-b border-gray-300">
                            <th class="px-4 py-2 text-left">Name</th>
                            <th class="px-4 py-2 text-left">Description</th>
                            <th class="px-4 py-2 text-left">Value</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody" x-cloak class="cloak">
                        <tr class="border-b border-gray-300" x-bind:class="{ 'hidden': !isRowMatching(search, 0) }">
                            <td class="px-4 py-2">Enabled</td>
                            <td class="px-4 py-2">Turn On/Off Api proxy</td>
                            <td class="w-1/2 right-6 px-4 py-2">{{template "sliderButton" .}}</td>
                        </tr>
                        <tr class="border-b border-gray-300" x-bind:class="{ 'hidden': !isRowMatching(search, 1) }">
                            <td class="px-4 py-2">Target URL</td>
                            <td class="px-4 py-2">The URL to forward the request to</td>
                            <td x-data="{data: '{{.ApiConfiguration.TargetUrl}}', idTag: 'targeturl'}" class="w-1/2 right-6 px-4 py-2">{{template "textValueView" .}}</td>
                        </tr>
                        <tr class="border-b border-gray-300" x-bind:class="{ 'hidden': !isRowMatching(search, 2) }">
                            <td class="px-4 py-2">Endpoint Path</td>
                            <td class="px-4 py-2">The URL Path the Gateway listens on</td>
                            <td x-data="{data: '{{.ApiConfiguration.EndPoint}}', idTag: 'endpoint'}" class="w-1/2 right-6 px-4 py-2">{{template "textValueView" .}}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script>
    // Used for preloading script scope for the settings table
    function isRowMatching(searchTerm, rowNum) {
        if (!searchTerm) return true;

        searchTerm = searchTerm.toLowerCase();

        const tb = document.getElementById("tableBody")
        const trElems = tb.children;

        for (let index = 0; index < trElems.length; index++) {
            if (index != rowNum) { continue; }

            // TODO: move these to consts and only recalculate
            // on contentview reload
            nameElem = trElems[index].children[0].innerHTML.toLowerCase()
            descElem = trElems[index].children[1].innerHTML.toLowerCase()
            valueElem = trElems[index].children[2].innerHTML.toLowerCase()

            if (nameElem.includes(searchTerm) || descElem.includes(searchTerm) || valueElem.includes(searchTerm)) {
                return true;
            }
            return false;
        }
    }
</script>
{{end}}